<?xml version="1.0" encoding="utf-8"?>
<manifest
     xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.hyy.myapplication"
     android:versionCode="1"
     android:versionName="1.0"
     >

    <application
         android:icon="@mipmap/logo"
         android:label="@string/app_name"
         android:supportsRtl="true"
         android:theme="@style/AppTheme"
         >
        <activity android:name=".start.WelcomeA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".start.LoginActivity">
        </activity>
        <activity android:name=".start.RegisterActivity">
        </activity>
        <activity android:name=".page.SearchActivity">
        </activity>
    </application>

</manifest>